<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_admin1.css') }}"> 
</head>

<body>
    <nav>
        <ul>
            <li><a href="user.html">user</a></li>
            <li><a href="about.html">about</a></li>
            <li><a href="admin.html">admin</a></li>
            <li style="float:right;"><a href="#" onclick="logout()">Logout</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Welcome Admin</h1>
        <p>This is the admin page. You have access to special admin features here.</p>
    </div>

    <script>
        function logout() {
            window.location.href = 'index.html';
        }
    </script>
</body>

</html>
