<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Selection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>
    <div class="container">
        <h1>Welcome to Our Website</h1>
        <div class="selection">
            <a href="user.html">User</a>
            <br>
            <a href="admin.html">Admin</a>
            <br>
            <a href="about.html">About</a>
        </div>
    </div>
</body>

</html>
